* {
	box-sizing: border-box;
	font-size: 0;
}

body{
	margin: 0;
	padding: 80px;
}

.content {
	margin: auto;
	max-width: 1000px;
}

header, footer {
	height: 60px;
	background-color: black;
}

header, div{
	margin-bottom: 10px;
}

.s0{
	height: 30px;
	background-color: #dfb2b6;
	max-width: 1000px;
	min-width: 232px;
}

.sec1, .sec2 {
	display: inline-block;
}


.s1, .s2, .s3, .s4{
	margin-right: 2%;
	width: 23.5%;
	height: 200px;
	background-color: #b2dfdb;
	display: inline-block;
}
.s4{
	margin-right: 0;
}

.s5, .s6{
	width: 490px;
	height: 200px;
	background-color: #7fdde9;
	display: inline-block;
}

.s5{
	margin-right: 20px;
}

@media(max-width: 1160px){
	.content {
		max-width: 700px;
	}
	.s {
		height: 70px;
	}
	.s5, .s6{
		width: 100%;
	}
	.s1, .s2, .s3, .s4{
		width: 49%;
		margin-right: 0;
	}
	.s1, .s3{
		margin-right: 2%;
	}

}

@media(max-width: 600px){
	.s1, .s2, .s3, .s4{
		width: 100%;
		margin-right: 0;
	}
}